.anatomyImage {
    width: 300px;
    height: 400px;
    object-fit: contain;
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background: #ffffff;
    position: relative;
}

.healthyHeart {
    position: absolute;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    padding: .3rem;
    font-size: .7rem;

}

.alignHeart {
    background-color: #00109d;
    color: #fff;
    right: 1%;
    top: 15%;
    z-index: 1;
}

.alignLeg {
    background-color: aqua;
    color: #00109d;
    bottom: 6.5rem;
    left: 0;
}

.iconStyle {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.scanner {
    position: absolute;
    height: 40px;
    width: 40px;
}

.leg {
    left: 5.5rem;
    bottom: 6rem;
}

.heart {
    top: 4.5rem;
    right: 5.5rem;
}