.DashboardMainContent {
  display: grid;
  grid-template-columns: repeat(2,1fr); 
  grid-template-rows:1fr 1fr;   
  gap: .5rem;   
               
  /* height: 100vh;                   */
}
.dashboard_title{
    font-size: 1.3rem;
    font-weight: bold;
    color:#00109D;
    font-family: 'poppins',sans-serif;
    
}
.titleSubContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.titleSubContainer:nth-of-type(1) {
font-size: small;
color: #00109D;
padding-right: 5px;
}